---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { getPostsByTag, getAllTags } from "../../utils/filterts";

const posts = await getCollection("blog");
const tags = getAllTags(posts);
const tagCounts = tags.map((tag) => ({
  name: tag,
  count: getPostsByTag(posts, tag).length,
}));

const COLORS = [
  "text-red-500",
  "text-green-500",
  "text-blue-500",
  "text-yellow-500",
  "text-purple-500",
  "text-pink-500",
  "text-orange-500",
  "text-teal-500",
  "text-lime-500",
  "text-indigo-500",
  "text-violet-500",
  "text-fuchsia-500",
  "text-emerald-500",
  "text-sky-500",
  "text-amber-500",
  "text-rose-500",
];

const getRandomColor = () => {
  return COLORS[Math.floor(Math.random() * COLORS.length)];
};

const baseUrl = import.meta.env.BASE_URL;
---

<BaseLayout
  title="Explore all my tags"
  description="Browse all tags used on blog. Explore topics and find related posts."
>
  <h1 class="text-4xl font-semibold mb-9">Explore tags on page</h1>
  <div class="flex flex-wrap justify-center gap-4">
    {
      tagCounts.map(({ name, count }) => (
        <a
          href={`${baseUrl}/tags/${name}`}
          class="inline-flex flex-col items-center font-medium mb-4 p-4 rounded-2xl bg-gray-100 hover:bg-gray-200 transition-colors duration-200"
          aria-label={`View all posts tagged with ${name}`}
        >
          <span class="text-md font-extrabold mb-1 text-gray-800">{count} posts</span>
          <span class={`text-xl ${getRandomColor()}`}>#{name}</span>
        </a>
      ))
    }
  </div>
</BaseLayout>
